# Python bytecode and cache
__pycache__/
*.pyc
*.pyo

# Environment files
.env

# Virtual environments
.venv/
venv/
DRONE-IOT/

# Python package metadata
*.egg-info/

# macOS system files
.DS_Store

# Visual Studio Code settings
.vscode/

# Logs of Flight operations
flight_log.txt

# Media files
captures/
recordings/